{% extends "base.html" %}

{% block content1 %}
<div class="list-container">
  <a href="https://www.freecodecamp.org/certification/froilan_ocubillo/python-v9" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Python - freeCodeCamp</h3>
    </div>
  </a>
    <a href="https://www.freecodecamp.org/certification/froilan_ocubillo/relational-databases-v9" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Relational Database - freeCodeCamp</h3>
    </div>
  </a>
    <a href="https://www.freecodecamp.org/certification/froilan_ocubillo/relational-database-v8" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Relational Database V8 - freeCodeCamp</h3>
    </div>
  </a>
    <a href="https://www.credly.com/earner/earned/badge/a64bc82e-b33c-4a70-a61b-082b8911e499" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Python Essentials 1 - Cisco Networking Academy</h3>
    </div>
  </a>
    <a href="https://e-tesda.gov.ph/mod/customcert/view.php?id=41351&downloadown=1" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Introduction to CSS - Computer System Servicing NCII</h3>
    </div>
  </a>
    <a href="https://e-tesda.gov.ph/mod/customcert/view.php?id=41354&downloadown=1" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Installing and Configuring Computer Systems - Computer System Servicing NCII</h3>
    </div>
  </a>
    <a href="https://e-tesda.gov.ph/mod/customcert/view.php?id=41355&downloadown=1" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Setting Up Computer Networks - Computer System Servicing NCII</h3>
    </div>
  </a>
    </a>
    <a href="https://e-tesda.gov.ph/mod/customcert/view.php?id=41356&downloadown=1" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Setting Up Computer Servers - Computer System Servicing NCII</h3>
    </div>
  </a>
    <a href="https://e-tesda.gov.ph/mod/customcert/view.php?id=41359&downloadown=1" target="_blank" class="dark-card-link">
    <div class="dark-card single-title">
      <h3 align="center">Maintaining Computer Systems and Networks - Computer System Servicing NCII</h3>
    </div>
  </a>

{% endblock content1 %}