{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="hero-container">
  <div class="profile-circle">
    <img src="{% static 'images/im.jpg' %}" alt="Froilan De Leon Ocubillo" class="profile-img">
  </div>
  
  <p class="greeting">Hi, my name is</p>
  <h1 class="main-title">Froilan De Leon Ocubillo</h1>
  <h2 class="sub-title">Computer Engineer</h2>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/froilan-ocubillo-834609409/" target="_blank" class="social-btn linkedin"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/ocubillofroilan-dev" target="_blank" class="social-btn github"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/froilan.ocubillo18" target="_blank" class="social-btn facebook"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>
{% endblock content1 %}