{% load static %}

<nav class="navbar">
  <div class="nav-logo">
    <a href="{% url 'home' %}">Froilan Ocubillo</a>
  </div>
  <ul class="nav-links">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'projects' %}">Projects</a></li>
    <li><a href="{% url 'experience' %}">Experience</a></li>
    <li><a href="{% url 'certificate' %}">Certifications</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% static 'images/resume.pdf' %}" download target="_blank" class="btn-resume">View Resume</a></li>
  </ul>
</nav>